@import url('https://fonts.googleapis.com/css2?family=Forum&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #D9EAD3;
    --secondary-color: #3A7D7D;
    --highlight-color: #6BBBAE;
    --text-color-primary: #2F4F4F;
    --text-color-secondary: #6B7D7D;
    --accent-color: #EDEAF6;
    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'Forum', serif;
}

body {
    background: url(../images/gj-bgbig.webp) no-repeat center center fixed;
    background-size: cover;
    font-family: var(--secondary-font);
    color: var(--text-color-primary);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    border-bottom: grey 1px solid;
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

main {
    margin-top: 70px;
    margin-bottom: 80px;
}

div.container.top {
    position: relative;
    top: 80px;
}

.green-bar {
    background-color: #E6F2EC;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.card.quick-entry-card, .recent-entries-card {
    background: linear-gradient(rgba(53, 140, 85, 0.7), rgba(217, 234, 211, 0.7) 30%);
    border-bottom: 1px solid rgba(0,0,0,.125);
    box-shadow: var(--text-color-primary) 2px 2px 0;
}

.recent-entry {
    border-top: solid 1px black;
}

.btn-accent, .btn-new:hover, .entry-card:hover {
    background-color: var(--text-color-primary);
    color: white;
    cursor: pointer;
}

.btn-accent-outline {
    border: var(--text-color-primary) 2px solid;
    color: var(--text-color-primary);
    font-weight: bold;
}

.btn-new {
    background-color: var(--primary-color);
    border: 1px solid grey;
}

.entry-card {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    box-shadow: grey 1px 1px 0;
}

/* Prevent modal trigger on action buttons */
.entry-actions {
    z-index: 10;
    position: relative;
}

/* Visual feedback for clickable area */

.modal-body p {
    margin-bottom: 1rem;
    font-size: 0.95rem;
}

